.footer {
    margin-top: 106px;
    padding-top: 30px;
    padding-bottom: 37px;

    background-color: #fbf9f4;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.footer__logo {
    font-size: 32px;
    line-height: 39px;
}

.footer__copy {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}